.style-logement {
  display: flex;
  flex-direction: column;

  .container-logement {
    display: flex;
    flex-direction: column;
    .item1-logement {
      display: flex;

      h1 {
        color: #ff6060;
        font-family: Montserrat;
        font-weight: 500;
      }
    }
    .item1-logement,
    .item-logement,
    .item2-logement,
    .item3-logement {
      display: flex;
      justify-content: space-between;
    
    
 .collapse{
  display: block;
  width: 40%;
 }

    }
    .item2-logement {
      .etoile-logement {
        .host-logement-hidden {
          display: none;
        }
      }
      .tage-logement {
        display: flex;
        gap: 10px;
        flex-wrap: wrap; /* Permet aux tags de passer à la ligne */
        color: #ff6060;
      
        .text-tag {
          background-color: #ff6060;
          color: #fff;
          border-radius: 10px;
          text-align: center;
          font-size: 15px;
          padding: 5px 10px;
        }
      }
    }
    .host-logement {
      display: flex;
    
    
      margin-top: 1.5rem;
      
      p{
        color:#ff6060;
        width: 50%;
     
      }
    }
    .tage-logement {
      display: flex;
      gap: 10px;
      color: #ff6060;

      .text-tag {
        background-color: #ff6060;
        color: #fff;
        border-radius: 10px;
        width: 135px;
        height: 25px;
        text-align: center;
        font-size: 15px;
      }
    }

   
  }
}

@media screen and (max-width: 1120px) {
  .style-logement {
    display: flex;
    flex-direction: column;

    .container-logement {
      display: flex;
      flex-direction: column;

      .item1-logement {
        display: flex;
        flex-direction: column;
        .host-logement {
          display: none;
        }
      }
      .item2-logement {
        display: flex;
        flex-direction: column;
        .etoile-logement {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .host-logement-hidden {
            display: flex;
            

            & p {
              color:#ff6060;
              width: 45%;
            }
          }
        }
      }
      .item3-logement {
        display: flex;
        flex-direction: column;
      
        .collapse{
          display: block;
          width: 100%;
         }
      }
    
    }
  }
}
@media screen and (max-width: 768px) {
  .style-logement {
    .container-logement {
      .item3-logement {
        gap: 0; /* Supprime l'espacement entre les éléments */
        .collapse{
          display: block;
          width: 100%;
         }
        
      }
    }
  }
}
