:root {
  --colorRed: #ff6060;
  --colorWhite: #fff;
}
.home-container {
display: flex;
flex-direction: column;
gap: 2rem;
  .gallery-container {
    position: relative;
    background-color: #f6f6f6;
  
  
    display: flex;
    justify-content: center;
  
    border-radius: 25px;

    .logements-gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
      max-width: 1200px;
      width: 100%;
      padding: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
 

  .gallery-container .logements-gallery {
    grid-template-columns: repeat(
      2,
      1fr
    ); 
    gap: 30px; 
  }
}

@media screen and (max-width: 480px) {


  .gallery-container .logements-gallery {
    grid-template-columns: repeat(
      1,
      1fr
    ); 
    gap: 30px; 
  }
}
