.logement-page {
    position: relative;
  }
  
  .logement-pictures {
    position: relative;
  }
  
  .logement-picture {
    width: 100%;
    height: 400px; /* Ajustez la hauteur à votre convenance, par exemple 40% ou une valeur fixe comme 300px */
    object-fit: cover;
   
    border-radius: 25px;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    width: 50px;
    height: 50px;
    color: #FFF;
  }
  
  .arrow-left {
    left: 10px; /* Ajustez la position à gauche */
  }
  
  .arrow-right {
    right: 10px; /* Ajustez la position à droite */
  }
  
  .slide-picture {
    position: absolute;
    bottom: 10px; /* Positionnez le texte en bas */
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Couleur du texte */
  
   
    border-radius: 5px; /* Coins arrondis */
  }
  @media screen and (max-width: 1120px) {
    .logement-picture {
      width: 100%;
      height: 255px; /* Ajustez la hauteur à votre convenance, par exemple 40% ou une valeur fixe comme 300px */
      object-fit: cover;
   
      border-radius: 10px;
    }
  }